<div>
  <app-page-breadcrumb [pageTitle]="'Badges' | localize" />
  <div class="space-y-5 sm:space-y-6">
    <div>
      <app-component-card title="With Light Background">
        <div class="flex flex-wrap gap-4 sm:items-center sm:justify-center">
          <!-- Light Variant -->
          <div><app-badge variant="light" color="primary"> {{ 'Primary' | localize }} </app-badge></div>
          <div><app-badge variant="light" color="success"> {{ 'Success' | localize }} </app-badge></div>
          <div><app-badge variant="light" color="error"> {{ 'Error' | localize }} </app-badge></div>
          <div><app-badge variant="light" color="warning"> {{ 'Warning' | localize }} </app-badge></div>
          <div><app-badge variant="light" color="info"> {{ 'Info' | localize }} </app-badge></div>
          <div><app-badge variant="light" color="light"> {{ 'Light' | localize }} </app-badge></div>
          <div><app-badge variant="light" color="dark"> {{ 'Dark' | localize }} </app-badge></div>
        </div>
      </app-component-card>
    </div>

    <div>
      <app-component-card title="With Solid Background">
        <div class="flex flex-wrap gap-4 sm:items-center sm:justify-center">
          <!-- Light Variant -->
          <div><app-badge variant="solid" color="primary"> {{ 'Primary' | localize }} </app-badge></div>
          <div><app-badge variant="solid" color="success"> {{ 'Success' | localize }} </app-badge></div>
          <div><app-badge variant="solid" color="error"> {{ 'Error' | localize }} </app-badge></div>
          <div><app-badge variant="solid" color="warning"> {{ 'Warning' | localize }} </app-badge></div>
          <div><app-badge variant="solid" color="info"> {{ 'Info' | localize }} </app-badge></div>
          <div><app-badge variant="solid" color="light"> {{ 'Light' | localize }} </app-badge></div>
          <div><app-badge variant="solid" color="dark"> {{ 'Dark' | localize }} </app-badge></div>
        </div>
      </app-component-card>
    </div>

    <div>
      <app-component-card title="Light Background with Left Icon">
        <div class="flex flex-wrap gap-4 sm:items-center sm:justify-center">
          <div><app-badge variant="light" color="primary" [startIcon]="plusIcon">{{ 'Primary' | localize }}</app-badge></div>
          <div><app-badge variant="light" color="success" [startIcon]="plusIcon">{{ 'Success' | localize }}</app-badge></div>
          <div><app-badge variant="light" color="error" [startIcon]="plusIcon">{{ 'Error' | localize }}</app-badge></div>
          <div><app-badge variant="light" color="warning" [startIcon]="plusIcon">{{ 'Warning' | localize }}</app-badge></div>
          <div><app-badge variant="light" color="info" [startIcon]="plusIcon">{{ 'Info' | localize }}</app-badge></div>
          <div><app-badge variant="light" color="light" [startIcon]="plusIcon">{{ 'Light' | localize }}</app-badge></div>
          <div><app-badge variant="light" color="dark" [startIcon]="plusIcon">{{ 'Dark' | localize }}</app-badge></div>
        </div>
      </app-component-card>
    </div>

    <div>
      <app-component-card title="Solid Background with Left Icon">
        <div class="flex flex-wrap gap-4 sm:items-center sm:justify-center">
          <div><app-badge variant="solid" color="primary" [startIcon]="plusIcon">{{ 'Primary' | localize }}</app-badge></div>
          <div><app-badge variant="solid" color="success" [startIcon]="plusIcon">{{ 'Success' | localize }}</app-badge></div>
          <div><app-badge variant="solid" color="error" [startIcon]="plusIcon">{{ 'Error' | localize }}</app-badge></div>
          <div><app-badge variant="solid" color="warning" [startIcon]="plusIcon">{{ 'Warning' | localize }}</app-badge></div>
          <div><app-badge variant="solid" color="info" [startIcon]="plusIcon">{{ 'Info' | localize }}</app-badge></div>
          <div><app-badge variant="solid" color="light" [startIcon]="plusIcon">{{ 'Light' | localize }}</app-badge></div>
          <div><app-badge variant="solid" color="dark" [startIcon]="plusIcon">{{ 'Dark' | localize }}</app-badge></div>
        </div>
      </app-component-card>
    </div>

    <div>
      <app-component-card title="Light Background with Right Icon">
        <div class="flex flex-wrap gap-4 sm:items-center sm:justify-center">
          <div><app-badge variant="light" color="primary" [endIcon]="plusIcon">{{ 'Primary' | localize }}</app-badge></div>
          <div><app-badge variant="light" color="success" [endIcon]="plusIcon">{{ 'Success' | localize }}</app-badge></div>
          <div><app-badge variant="light" color="error" [endIcon]="plusIcon">{{ 'Error' | localize }}</app-badge></div>
          <div><app-badge variant="light" color="warning" [endIcon]="plusIcon">{{ 'Warning' | localize }}</app-badge></div>
          <div><app-badge variant="light" color="info" [endIcon]="plusIcon">{{ 'Info' | localize }}</app-badge></div>
          <div><app-badge variant="light" color="light" [endIcon]="plusIcon">{{ 'Light' | localize }}</app-badge></div>
          <div><app-badge variant="light" color="dark" [endIcon]="plusIcon">{{ 'Dark' | localize }}</app-badge></div>
        </div>
      </app-component-card>
    </div>

    <div>
      <app-component-card title="Solid Background with Right Icon">
        <div class="flex flex-wrap gap-4 sm:items-center sm:justify-center">
          <div><app-badge variant="solid" color="primary" [endIcon]="plusIcon">{{ 'Primary' | localize }}</app-badge></div>
          <div><app-badge variant="solid" color="success" [endIcon]="plusIcon">{{ 'Success' | localize }}</app-badge></div>
          <div><app-badge variant="solid" color="error" [endIcon]="plusIcon">{{ 'Error' | localize }}</app-badge></div>
          <div><app-badge variant="solid" color="warning" [endIcon]="plusIcon">{{ 'Warning' | localize }}</app-badge></div>
          <div><app-badge variant="solid" color="info" [endIcon]="plusIcon">{{ 'Info' | localize }}</app-badge></div>
          <div><app-badge variant="solid" color="light" [endIcon]="plusIcon">{{ 'Light' | localize }}</app-badge></div>
          <div><app-badge variant="solid" color="dark" [endIcon]="plusIcon">{{ 'Dark' | localize }}</app-badge></div>
        </div>
      </app-component-card>
    </div>
  </div>
</div>