<div class="flex items-center gap-3 lg:gap-5">

  <!-- LOGO -->
  <a routerLink="/" class="shrink-0">
    <img
      src="../../../../assets/apple-touch-icon.png"
      class="w-9 h-9 rounded-full border border-gray-300 cursor-pointer dark:hidden"
      alt="logo"
    />

    <img
      src="../../../../assets/apple-touch-icon.png"
      class="w-9 h-9 rounded-full border border-gray-300 cursor-pointer hidden dark:block"
      alt="logo"
    />
  </a>

  <!-- BRAND TEXT -->
  <h3 class="hidden md:block text-base font-medium text-gray-800">
    Products Manager
  </h3>

</div>