<div class="flex items-center gap-3">

  <!-- SEARCH -->
  <button class="w-9 h-9 flex items-center justify-center rounded-full hover:bg-gray-100 transition">
     <i class="fa-solid fa-magnifying-glass"></i>
  </button>

  <!-- CHAT -->
  <button class="w-9 h-9 flex items-center justify-center rounded-full hover:bg-gray-100 transition">
    <i class="fa-solid fa-comment-dots"></i>
  </button>

  <!-- NOTIFICATIONS -->
  <button class="w-9 h-9 flex items-center justify-center rounded-full hover:bg-gray-100 transition">
      <i class="fa-solid fa-bell"></i>
  </button>

  <!-- USER AVATAR -->
  <img
    src="../../../../assets/300-2.png"
    class="w-9 h-9 rounded-full border border-gray-300 cursor-pointer"
    alt="user"
  />

</div>